/*
 * Background
*/

svg#periodic-table.dark  { background-color: #222222; }
svg#periodic-table.light { background-color: #E4E4E4; }


/*
 * Legends
*/

g.legend-class rect {
	stroke: #242424;
	stroke-width: 0.8;
}

g.super-class text,
g.sub-class text,
g.sub-class tspan {
	font-size: 9.5pt;
	text-align: middle;
	text-anchor: middle;
}

g.super-class rect {
	fill: #CCCCCC;
	stroke: 0.5;
	/*stroke: none;*/
}

g.super-class path {
	stroke: #4488BB;
	stroke-width: 1.5;
}


/*
 * Group and Periods headers
*/

text.headers-text {
	text-anchor: middle;
	text-align: center;
	font-size: 22pt;
	font-family: monospace;
}

#periodic-table.dark text.headers-text {
	fill: #cdcdcd;
	text-shadow:
		 2px  0   .125em rgba(69, 69, 69, 128),
		-2px  0   .125em rgba(69, 69, 69, 128),
		 0    2px .125em rgba(69, 69, 69, 128),
		 0   -2px .125em rgba(69, 69, 69, 128);
}
#periodic-table.light text.headers-text {
	fill: #424242;
	text-shadow:
		 2px  0   .125em rgba(220, 220, 220, 128),
		-2px  0   .125em rgba(220, 220, 220, 128),
		 0    2px .125em rgba(220, 220, 220, 128),
		 0   -2px .125em rgba(220, 220, 220, 128);
}


/*
 * Elements - background
*/

rect.background {
	stroke: grey;
	stroke-width: 0.8;
}

/* Metals and metalloids */
rect.alkali      { fill: #ff6666; }
rect.alkalineEM  { fill: #ffdead; }
rect.lanthanide  { fill: #ffbfff; }
rect.actinide    { fill: #ff99cc; }
rect.transitionM { fill: #ffc0c0; }
rect.post-transM { fill: #cccccc; }
rect.metalloid   { fill: #cccc99; }
/* Nonmetals */
rect.reactiveNM  { fill: #f0ff8f; }
rect.noble-gas   { fill: #c0ffff; }
/* Unknown */
rect.unknown     { fill: #e8e8e8; }


/* Metals and metalloids - colorblind mode */
.colorblind rect.alkali      { fill: #ff4b4b; }
.colorblind rect.alkalineEM  { fill: #ffdead; }
.colorblind rect.lanthanide  { fill: #ffa2ff; }
.colorblind rect.actinide    { fill: #ff3399; }
.colorblind rect.transitionM { fill: #ffa0a0; }
.colorblind rect.post-transM { fill: #b2b2b2; }
.colorblind rect.metalloid   { fill: #d2855c; }
/* Nonmetals  - colorblind mode */
.colorblind rect.reactiveNM  { fill: #eaff61; }
.colorblind rect.noble-gas   { fill: #7affff; }
/* Unknown  - colorblind mode */
.colorblind rect.unknown     { fill: #e8e8e8; }


/*
 * Elements - text
*/

text {
	font-family: sans-serif;
}
text.symbol, text.name, text.weight {
	width: 100%;
	text-anchor: middle;
	text-align: center;
}

text.number { font-size:  7pt; }
text.symbol {
	left: 50%; top: 50%;
	font-size: 24pt;
	font-family: serif;
}
text.name   { font-size: 8pt; }
text.weight { font-size: 6pt; }
