/*
 * Base rules
*/

svg {
	text-anchor: middle;
	text-align: center;
	font-family: sans-serif;
}


/*
 * Background
*/

#periodic-table.dark  { background-color: #222222; }
#periodic-table.light { background-color: #E4E4E4; }


/*
 * Legends
*/

g.legend-class rect {
	stroke: #242424;
	stroke-width: 0.8;
}

g.super-class use,
g.sub-class use {
	font-size: 9.5pt;
}

g.super-class rect {
	fill: #CCCCCC;
	stroke: 0.5;
}

g.super-class path {
	stroke: #4488BB;
	stroke-width: 1.5;
}


/*
 * Group and Periods headers
*/

text.headers-text {
	font-size: 22pt;
	font-family: monospace;
}

#periodic-table.dark text.headers-text {
	fill: #cdcdcd;
	text-shadow:
		 2px  0   .125em rgba(69, 69, 69, 128),
		-2px  0   .125em rgba(69, 69, 69, 128),
		 0    2px .125em rgba(69, 69, 69, 128),
		 0   -2px .125em rgba(69, 69, 69, 128);
}
#periodic-table.light text.headers-text {
	fill: #424242;
	text-shadow:
		 2px  0   .125em rgba(220, 220, 220, 128),
		-2px  0   .125em rgba(220, 220, 220, 128),
		 0    2px .125em rgba(220, 220, 220, 128),
		 0   -2px .125em rgba(220, 220, 220, 128);
}


/*
 * Elements - background
*/

rect.background {
	stroke: grey;
	stroke-width: 0.8;
}

/* Metals and metalloids */
rect.alkali      { fill: #ff6666; }
rect.alkalineEM  { fill: #ffdead; }
rect.lanthanide  { fill: #ffbfff; }
rect.actinide    { fill: #ff99cc; }
rect.transitionM { fill: #ffc0c0; }
rect.post-transM { fill: #cccccc; }
rect.metalloid   { fill: #cccc99; }
/* Nonmetals */
rect.reactiveNM  { fill: #f0ff8f; }
rect.noble-gas   { fill: #c0ffff; }
/* Unknown */
rect.unknown     { fill: #e8e8e8; }


/* Metals and metalloids - colorblind mode */
.colorblind rect.alkali      { fill: #ff4b4b; }
.colorblind rect.alkalineEM  { fill: #ffdead; }
.colorblind rect.lanthanide  { fill: #ffa2ff; }
.colorblind rect.actinide    { fill: #ff3399; }
.colorblind rect.transitionM { fill: #ffa0a0; }
.colorblind rect.post-transM { fill: #b2b2b2; }
.colorblind rect.metalloid   { fill: #d2855c; }
/* Nonmetals  - colorblind mode */
.colorblind rect.reactiveNM  { fill: #eaff61; }
.colorblind rect.noble-gas   { fill: #7affff; }
/* Unknown  - colorblind mode */
.colorblind rect.unknown     { fill: #e8e8e8; }


/*
 * Elements - text
*/

.number, .symbol, .name, .weight, .econf {
	fill: black;
}

.number {
	font-size:  7pt;
	text-anchor: start;
	text-align: start;
}

.symbol {
	font-size: 24pt;
	font-family: serif;
}
.symbol.sm { font-size: 21pt; }
.name   { font-size: 8pt; }
.weight { font-size: 6pt; }
.econf  { font-size: 4.5pt; }


/*
 * Legends - text
*/

.legend-elem {
	dominant-baseline: middle;
	font-size: 8pt;
}

.left {
	text-anchor: end;
	text-align: right;
}
.right {
	text-anchor: start;
	text-align: left;
}
